/* Fonts Imports Figtree, Inter */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Typography Fonts */
  --font-figtree: "Figtree", sans-serif;
  --font-inter: "Inter", sans-serif;

  /* Dark Mode Colors */
  /* Background Colors */
  --bg-default: #000319;
  /* --bg-muted: #1a1c30; */
  --bg-muted: #191c38;

  /* CTC Colors */
  --primary-ctc: #6f4fbb;
  --secondary-ctc: #593f98;

  /* Text Colors */
  --text-default: #d3dbd7;
  --text-muted: #ab9e9e;
  --text-ctc: #1f7d53;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-figtree);
}

html,
#root,
body {
  color: var(--text-default);
  background-color: #000319;
}
